<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIP_Website</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <!-- jQuery einbinden -->
    <!-- <link rel="stylesheet" href="/home/robot/ros_ws/src/pkg_website_llm/pkg_website_llm/static/css/style.css">
    <link rel="stylesheet" href="/home/robot/ros_ws/src/pkg_website_llm/pkg_website_llm/templates/style.css"> -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="./style_chatbot.css"> 
    <script src="./script.js"></script>

</head>
<section class="layout">
    <div class="header">
        <div class="header-container" >
            <!-- <button id="language-toggle">Englisch</button> -->
             <image id="language-toggle" src="england-flagge.png" style="width: 100px; height: 100px; float: left;">
            <h1 style="color: white; text-align: center;">Automated Item Picking - Large Language Model</h1>
        </div>
    </div>

    <div class="main">
        <div class="picture-container" style="color: white">
            <h2 id= "BoxBild"style="color: white" >Greifbare Objekte: </h2>
            <img id="image" src="Hintergrund.png" alt="" width="480" height="480">

        </div>

        <div class="picture-container" style="color: white">
            <h2 id ="pack_heading" style="color: white" >Berechneter Packplan:</h2>
            <img id="image_Pack" src="PackPlanBild.png" alt="" onerror="this.onerror=null; this.src='Platzhalter.png';" width="480" height="400">
            <p id ="pack_heading_text" style="color: white" ></p>
        </div>


        <div class="chat-container" style="color: white">
            <div class="chat-box" id="chat-box">
                <div id= "InitialMessage" class="message bot-message">Hallo, Ich bin das LLM-AIP! Ich kenne die erkannten Objekte sowie deren Gewicht und Abmessungen und ich kann dir Fragen dazu beantworten. Wähle hierzu im Drop-Down die passende Option ("Chat" oder "Szenenchat"). Wenn du direkt Objekte packen möchtest dann nutze "Befehl". </div>
            </div>
            
            <div class="input-container">
                <input type="text" id="user-input" placeholder="Ihre Nachricht eingeben...">
                <select id="dropdown-menu">
                    <option id = "option1" value="chat">Chat</option>
                    <option id = "option2" value="scenechat">Szenen-Chat</option>
                    <option id = "option3" value="command">Befehl</option>
                </select>
                <button id="send-btn"> Senden</button>
            </div>

        </div>

    </div>
    
    <div class="main_2nd_row">
        <div class="feedback-container" style="color: white">
            <table id="myTable">
                <thead>
                    <tr>
                        <th>Packreihenfolge</th>
                        <th>Zylinder IDs</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Dynamische Inhalte werden hier eingefügt -->
                </tbody>
            </table> 
        </div>

        <div class="running-nodes" style="color: white">
            <table id="NodeTable">
                <thead>
                    <tr>
                        <th>Laufende Nodes</th>
                        <th>  </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Dynamische Inhalte werden hier eingefügt -->
                </tbody>
            </table>>
        </div>

        <div class="consent-box" id="consent_user">
            <button id="disapprove-btn"> Ablehnen</button>
            <button id="approve-btn"> Bestätigen</button>
        </div>

    </div>

    <div class="footer">
        <img src="HKA_Logo.png" style="width: 400px; height: auto; float: right;">
        <h3 style="color: white; font-size: larger;">Forschung & Entwicklungsprojekt 2</h3>
        <h3 style="color: white; font-size: small;" >Von Raphael Aberle, Andreas Schmitt, Leo Schäfer, Maurice Droll und Eshan Savla </h1>
        <h3 style="color: white; font-size: small;">Hochschule Karlsruhe</h3>
    </div>
  
  </section>

<body>




    <!-- <div class="container" style=" color: white" >
       
        <form>
            <label for="fname">Please Insert Your Request here:</label>
            <input type="text" id="request_id" name="request_name"><br><br>
          </form> 
          <button id="button1" onclick="buttonClicked()">Absenden</button>
    </div> -->



    <script>
        function buttonClicked(request) {
            $.post('/button_click', { request: document.querySelector("#request_id").value}, function(response) {
                alert(response.message);
            });
        }
//        function init() {
//            $.post('/init', function(response) {
//                alert(response.message);
//            });
//        }
    </script>
</body>
</html>